version: '3.8'

services:
  # Servicio PostgreSQL
  postgres:
    image: postgres:15-alpine
    container_name: supermercado_postgres
    environment:
      POSTGRES_DB: supermercado_db
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
    ports:
      - "5433:5432"  # Tu puerto personalizado
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./database/postgres:/docker-entrypoint-initdb.d
    networks:
      - supermercado_network
    restart: unless-stopped

  # Servicio MongoDB
  mongodb:
    image: mongo:7
    container_name: supermercado_mongo
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin123
      MONGO_INITDB_DATABASE: supermercado_sales
    ports:
      - "27018:27017"  # Puerto 27018 en tu Windows, 27017 dentro del contenedor
    volumes:
      - mongo_data:/data/db
      - ./database/mongo:/docker-entrypoint-initdb.d
    networks:
      - supermercado_network
    restart: unless-stopped
    command: ["mongod", "--auth"]

volumes:
  postgres_data:
    driver: local
  mongo_data:
    driver: local

networks:
  supermercado_network:
    driver: bridge